body {
    background-color: #1b1b1b;
    font-family: Arial, sans-serif;
    color: #dbdbdb;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #00e1ff;
    text-align: center;
}

a {
    color: #00e1ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}